body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App-header {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.Login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Profile {
  margin: 50px;
}
.LoginForm {
  border-radius: 20px;
  padding: 30px ;
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.marginBlock {
  margin-bottom: 30px;  
}
.error-message{
  color: red;
}
.Filters {
  margin: 5px;
  margin-bottom: 20px;
  border: 2px solid silver;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Filter_Items_Container{
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.FilterItem {
  list-style-type: none;
  width: 300px;
  height: 260px;
  border: 1px solid silver;
  border-radius: 10px;
  padding: 10px;
  overflow-y: visible;
}
.FilterItem_item{
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: all .2s ease;
}
.FilterItem_item:hover{
  background-color: silver;
}
.FilterItem_count {
  background-color: silver;
  padding: 2px 15px;
  border-radius: 10px;
}
.FilterItem_item_active {
  background-color: silver;
}